$color__text-screen: #000;
$color__link: #D84560;
$color__link-button: #fff;
$color__link-hover: #e5e5e5;
$color__text-warning: #DB3A57;
$color__main_red: #DB3A57;

$color__button_light-background: #fff;
